.show-order{
    color:white;
    text-align:center;
    background:black;
    padding:0;
    margin:0;
    height: 50px;
    width: 100%;
    line-height: 60px;
    font-size: 23px;
}
.show-back{
    text-align:left;
    height: 30px;
    color: white;
    background: #333333;
    border: none;
    border-radius: 3px;
    width: 50px;
    z-index: 2;
    display: inline-block;
    padding: 4px 12px;
    float: left;
    margin-top: 20px;
}
.show-order-meal{
    display: block;
    clear: both;
    top: 50px;
    width: 100%;
    height: 35px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #6aa8d3), color-stop(1, #4377ab));
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 35px;
}
.no-order-meal{
    top: 50px;
    width: 100%;
    height: 35px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #6aa8d3), color-stop(1, #4377ab));
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 35px;
}
.order-meal-list{
    display: block;
    clear:both;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    list-style:none;
    height: 70px;
    margin-top: 0;
}
.show-name{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 3px;
    margin-bottom: 2px;
    list-style:none;
    text-decoration:none;
}
.set-meal{
    font-family: 黑体;
    font-size: 15px;
    height: 20px;
    margin-top: 3px;
    text-align: left;
    margin-bottom: 2px;
    list-style:none;
    text-decoration:none;
}
.price{
    font-size: 20px;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
    text-align: left;
    list-style:none;
    text-decoration:none;
}
.no-order-name{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 2px;
    list-style:none;
    font-size: 20px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
}
.all-subtotal{
    font-family: 黑体;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background:black;
    line-height: 50px;
    width: 100%;
    height: 50px;
}
body{
    display: block;
    margin: 0;
}