.choose-meal{
    color:white;
    text-align:center;
    background:black;
    padding:0;
    margin:0;
    height: 50px;
    width: 100%;
    line-height: 60px;
    font-size: 23px;
}
.name{
    color: #08c;
    font-size: 20px;
    line-height: 20px;
    cursor: auto;
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 15px;
    min-height: 20px;
    margin-top: 30px;
    font-weight: bold;
    width:90%;
    text-align:left;
    list-style:none;
    text-decoration:none;
    border: 1px solid #ccc;
}
.money{
    font-size: 15px;
    color: black;
    margin: 3px 0 2px 0;
    font-family: 黑体;
}
.name:hover{
    color: #0620cc;
}
body{
    display: block;
    margin: 0;
}